[submodule "Google_tests/lib"]
	path = Google_tests/lib
	url = https://github.com/google/googletest.git
[submodule "Proj3"]
	path = Proj3
	url = https://github.com/anpu9/CS5330-proj3.git
	branch = main
